//- FOOTER
footer.nav-footer
  p.pull-right
    a(href='#') Back to top
  p
    span &#169; 2015 CurX Company, Inc.&nbsp;
    span | &nbsp;
    a(href='#') Privacy&nbsp; 
    span | &nbsp;
    a(href='#') Terms
div.loading.text-center
  .bg
    .el
  .loader
    .loader-container
      div.canvas
        div.leaf.leaf-top-right
        div.leaf.leaf-top-left
        div.leaf.leaf-bottom-right
        div.leaf.leaf-bottom-left
        div.center